In [2]:
import numpy as np
import pandas as pd

In [4]:
covid_data = pd.read_csv('../../datasets/covid_m1.csv')
covid_data

     m1  s
0     0  0
1     0  1
2     0  1
3     0  0
4     1  1
..   .. ..
995   0  1
996   0  1
997   0  0
998   0  1
999   0  0

[1000 rows x 2 columns]

In [7]:
covid_data.value_counts()

m1  s
0   1    605
    0    295
1   1     95
    0      5
dtype: int64

In [8]:
pd.crosstab(index=covid_data['m1'], columns=covid_data['s'], margins=True)

s      0    1   All
m1
0    295  605   900
1      5   95   100
All  300  700  1000